<html>
    <head>
            <script src="jquery-3.2.1.min.js"></script>
            <script src="jquery-ui.min.js"></script>
            
            
                 <style>

                     .image_section
                     {
                        font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
                  padding: 5px 30px ;
                  color:#3498db;
                  background: #fbfcfb;
                  border: 2px solid #3498db;
                 width:35%;
                
                  margin: 5% 0% 0% 29% ;
                  border-radius: 7px;
                     }

                     .image_section:hover
           {
            color:rgb(253, 249, 249);
                  transition:0.3s;
                  background: #3498db;
           }    

           video {
            font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
                  padding: 5px 30px ;
                  color:black;
                  background: #fbfcfb;
                  border: 2px solid black;
                 width:35%;
                
                  margin: 5% 0% 0% 29% ;
                  border-radius: 7px;
                  
           }      
           video:hover
           {
            color:rgb(253, 249, 249);
                  transition:0.3s;
                  background: black;
           }    

       button {
                
                  font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
                  padding: 5px 30px ;
                  color:#3498db;
                  background: #fbfcfb;
                  border: 2px solid #3498db;
                 width:40%;
                  
                  border-radius: 7px;
                  
                  
                  
                  }

            button:hover{
                 
                  color:rgb(253, 249, 249);
                  transition:0.3s;
                  background: #3498db;
                 
            }

    #file
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
                  padding: 5px 30px ;
                  color:#3498db;
                  background: #fbfcfb;
                  border: 2px solid #3498db;
                 width:60%;
                  margin-left:22%;
                  border-radius: 7px;
                  margin-top: 10%;
                  
                  
    }

    #file:hover{
                 
                 color:rgb(253, 249, 249);
                 transition:0.3s;
                 background: #3498db;
                
           }
 
  #footer 
  {
    font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    background-color: white;
        color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 2px solid #3498db;
  padding-left:44%;
 

 }

.headings
{
    color: #2e86c1;
}

  #header
  {
      width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    background-color: black;
    color: white;
    padding: 1 0 1 0%;
   top:0;
   left: 0;
    
   position: fixed;
    
  }

  #main
  {
    position: fixed;
      width: 100%;
      margin-top: 9%;
      margin-left:23%; 
      
      
      
  }
  #speak
  {
      margin-left: 6%;
  }
  
  #read
  {
      margin-left: 6%;
  }

   #liked
  {
      margin-left: 6%;
  }

   #speaker
  {
      position: fixed;
    border-radius: 25px;
    border: 2px solid #3498db;
    margin-top:5%;
    margin-left:22%; 
    padding: 4%;
  } 

#reader
{
    position: fixed;
    border-radius: 25px;
    border: 2px solid #3498db;
    margin-top:5%;
    margin-left:22%; 
    padding: 4%;
}

#liker
{
    position: fixed;
    border-radius: 25px;
    border: 2px solid #3498db;
    margin-top:5%;
    margin-left:22%; 
    padding: 4%;
}
textarea {
    border-radius: 25px;
    border: 2px solid #3498db;
    padding: 15px;
    width: 500px;
  height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    color: #3498db;
    
}

  #area
  {
    font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    color: #3498db;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #3498db;
  }
  
  body
  {
    font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    color: #3498db;
  }

#video
{
    margin-top:2%;
    position: fixed;
}
#pictures
{
    margin-top:2%;
    position: fixed;
}
  </style>   

<script>
    $(document).ready(function(){
        $('#pic_section').hide();
        $('#video').hide();
        
        $('#pictures').click(function(){
            $('#vid_section').hide()
            $('#pictures').hide();
            $('#video').fadeIn(500);
            $('#pic_section').show('slide',{direction:'right'},500);
            

        });
        $('#video').click(function(){
            $('#video').hide();
            $('#pictures').fadeIn(500);
            $('#pic_section').hide()
            $('#vid_section').show('slide',{direction:'left'},500);
            

        });
        
        
                  
        
    });
    
</script>


    <body>
            <div id="header" >
                    <h1 align="center">THE FORUM</h1>
            </div>
            <br><br><br><br>
            
            <img   width="70" height="70" src="video.jpg" id="video"/>
            <img   width="70" height="70" src="pictures.jpg" id="pictures"/>
            <div id="vid_section">
                    <video width="320" height="240" src="uploads/videos/user_uploaded_video-1550985954735.mp4" controls>
                    </video>
                    <video width="320" height="240" src="uploads/videos/user_uploaded_video-1550985954735.mp4" controls>
                    </video>
                    <video width="320" height="240" src="uploads/videos/user_uploaded_video-1550985954735.mp4" controls>
                    </video>

            </div>
            
            <div class="image_section" id="pic_section">
                    <img width="320" height="240" src="uploads/images/user_uploaded_image-1550927548581.PNG"/>
                    
                    
            </div>
             
              
                   
            <div id="footer">
                    
            
            </div> 
      
           
    </body>


</html>
    